<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="/Css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap" rel="stylesheet">
</head>
<body>
<nav>
    <div class="navContainer">
        <ul>
            <li><a href="/signup" class="nav-link">SignUp</a></li>
            <li><a href="/login" class="nav-link">LogIn</a></li>
        </ul>
    </div>
</nav>

<div class="mainDiv">
    <h1>Hello Human!</h1>
</div>

</body>
</html>