<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login Page</title>
  <link rel="stylesheet" href="/Css/login.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap" rel="stylesheet">
</head>
<body>
<h1 class="firstDiv">Enter your Username and Password to log in</h1>
<form action="/login" method="POST" class="login-form">
<fieldset>
    <label for="username" class="form-label">Username</label>
    <input type="text" name="username" id="username" class="form-input">

    <br>

    <label for="password" class="form-label">Password</label>
    <input type="password" name="password" id="password" class="form-input">

    <br>

    <button type="submit" class="form-button">Log In</button>
</fieldset>
</form>

</body>
</html>