<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/Css/signup.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap" rel="stylesheet">
</head>
<body>
<div class="firstDiv">
    <h1>You can SignUp here</h1>
</div>

<form action="/signup" method="POST" class="signup-form">
<fieldset>
        <label for="username" class="form-label">Username</label>
        <input type="text" name="username" id="username" class="form-input">

    <br>

        <label for="password" class="form-label">Password</label>
        <input type="password" name="password" id="password" class="form-input">

    <br>

    <button type="submit" class="form-button">Sign Up</button>
</fieldset>
</form>
</body>
</html>